<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <!--body part-->
        <div class="answer">
            <h1>Junior, please start your show</h1>
        </div>
        <div class="express">
            <form action="">
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
                <p>1、23+23*23/2 = <input type="text" name="express"></p>
            </form>
        </div>
        <div class="sub">
            <input type="submit" value="submit" class="btn-submit">
        </div>
    </div>
    <!--footer part-->
    <div class="footer answer-foot">
        <p>Copyright 2018-depers</p>
        <p>Open-Source-Address <a href="https://github.com/">https://github.com/</a></p>
    </div>
</body>
</html>