<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/calculagraph.min.js"></script>
</head>
<body>
<div class="wrapper">
    <!--body part-->
    <div class="answer">
        <h1>Junior, please start your show</h1>
    </div>
    <div class="express">
        <form id="commentForm">
            <div th:each="express, expressStat : ${expresses}" style="position: relative;">
                <span th:text="${expressStat.count} + '、'"></span>
                <p style="display: inline-block" th:text="${express}"></p>
                <input style="float:right;" type="text" name="express" class="express_item">
            </div>
            <div class="sub">
                <a type="submit" value="submit" class="btn-submit" href="javascript:void(0);">submit</a>
            </div>
        </form>
    </div>
</div>
<!--footer part-->
<div class="footer answer-foot">
    <p>Copyright 2018-depers</p>
    <p>Open-Source-Address <a href="https://github.com/">https://github.com/</a></p>
</div>
<div class="time">
    <p>1分十秒</p>
</div>
<script type="text/javascript">
    function number(el) {
        return el.val().length && /^[0-9]+$/.test(el.val());
    }

    function formatSeconds(value) {
        var secondTime = parseInt(value);// 秒
        var minuteTime = 0;// 分
        var hourTime = 0;// 小时
        if (secondTime > 60) {//如果秒数大于60，将秒数转换成整数
            //获取分钟，除以60取整数，得到整数分钟
            minuteTime = parseInt(secondTime / 60);
            //获取秒数，秒数取佘，得到整数秒数
            secondTime = parseInt(secondTime % 60);
            //如果分钟大于60，将分钟转换成小时
            if (minuteTime > 60) {
                //获取小时，获取分钟除以60，得到整数小时
                hourTime = parseInt(minuteTime / 60);
                //获取小时后取佘的分，获取分钟除以60取佘的分
                minuteTime = parseInt(minuteTime % 60);
            }
        }
        var result = "" + parseInt(secondTime) + "秒";

        if (minuteTime > 0) {
            result = "" + parseInt(minuteTime) + "分" + result;
        }
        if (hourTime > 0) {
            result = "" + parseInt(hourTime) + "小时" + result;
        }
        return result;
    }

    $().ready(function () {

        var time = new Calculagraph();
        time.set(0);
        time.increase(function (time) {
            $(".time p").text(formatSeconds(time));
        }, 2000000000000, 1000, function () {
            console.log('你牛逼，我无话可说');
        });

        $(".express_item").keyup(function () {
            if (!($(this).val().length && /^[0-9]+$/.test($(this).val()))) {
                if ($(this).next().hasClass("success")) {
                    $(this).parent().find('.success').remove();
                }
                if (!$(this).next().hasClass("error")) {
                    var error = $("<p></p>").text("Please enter a valid number.").addClass("error");
                    $(this).after(error)
                }
            }
            else {
                if ($(this).next().hasClass("error")) {
                    $(this).parent().find('.error').remove();
                }
                if (!$(this).next().hasClass("success")) {
                    var success = $("<p></p>").text("Success.").addClass("success");
                    $(this).after(success)
                }
            }
        });


        $(".express_item").blur(function () {
            if (!($(this).val().length && /^[0-9]+$/.test($(this).val()))) {
                if ($(this).next().hasClass("success")) {
                    $(this).parent().find('.success').remove();
                }
                if (!$(this).next().hasClass("error")) {
                    var error = $("<p></p>").text("Please enter a valid number.").addClass("error");
                    $(this).after(error)
                }
            }
            else {
                if ($(this).next().hasClass("error")) {
                    $(this).parent().find('.error').remove();
                }
                if (!$(this).next().hasClass("success")) {
                    var success = $("<p></p>").text("Success.").addClass("success");
                    $(this).after(success)
                }
            }
        });


        $(".btn-submit").click(function () {
            var val = "";
            var result = "";
            var flag = false;
            var sum = 0;
            $(".express_item").each(function () {
                if (!($(this).val().length && /^[0-9]+$/.test($(this).val()))) {
                    if (!$(this).next().hasClass("error")) {
                        var error = $("<p></p>").text("Please enter a valid number.").addClass("error");
                        $(this).after(error)
                    }
                    return;
                }
                sum++;
                var temp = $(this).prev().text();
                temp = temp.replace(/[+]/g, "a");
                console.log(temp)
                val += temp.substring(0, temp.length - 1) + ',';
                result += $(this).val() + ',';
            });
            if (sum === 20) {
                flag = true;
            }
            if (flag) {
                $.ajax({
                    url: '/answer.html'.concat("?val=", val, "&result=", result),
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result.success) {
                            var success = $("<p></p>").text(result.msg).addClass("success-sub");
                            $(".btn-submit").after(success);
                            setTimeout(function () {
                                location.href = '/result.html';
                            }, 3000)
                        } else {
                            var fail = $("<p></p>").text(result.msg).addClass("fail-sub");
                            $(".btn-submit").after(fail);
                        }
                    },
                    error: function (data) {
                        var error = $("<p></p>").text("对不起，服务请求错误！").addClass("error-sub");
                        $(".btn-submit").after(error);
                    }
                });
            }




        })
    });


</script>
</body>
</html>