<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Four arithmetic applets</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--head part-->
    <div class="nav">
        <h1 class="head-title">Four arithmetic applets</h1>
        <select class="lan-select">
            <option value ="volvo">English</option>
            <option value ="saab">简体中文</option>
            <option value="opel">繁体中文</option>
        </select>
    </div>
    <!--body part-->
    <div class="content">
        <h1 class="ready vertical-center">Are you ready?</h1>
        <a href="answer.html"><button class="btn-start vertical-center">Start Now!</button></a>
    </div>
    <!--footer part-->
    <div class="footer">
        <p>Copyright 2018-depers</p>
        <p>Open-Source-Address <a href="https://github.com/">https://github.com/</a></p>
    </div>
</body>
</html>